#root {
  justify-content: center;
  display: flex;
  width: 100%;
  height: 100%;
}

a {
  color: white !important;
}

.landing-container {
  overflow: auto;
  scroll-behavior: smooth;
  position: relative;
  width: 53%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-image: url('./assets/grad.jpeg'); */
  /* background-size: cover; */
  overflow: hidden;
}

/*Landing Page styles*/

.landing-text {
  display: flex;
  justify-content: space-between;
  height: 20%;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 1.7vw;
  color: #fff;
  margin-top: 2px;
  opacity: 1;
}

.tagline {
  font-size: 2.2vw;
  font-family: 'Poppins';
  font-weight: 500;
}

.landing-text span {
  opacity: 0;
}

.space {
  width: 0.25em;
}

a {
  text-decoration: none; /* Remove the underline */
}

.navbar {
  align-items: baseline;
  justify-content: center;
  margin: 0vh 0vh 0vh;
  padding: 0vh 3vh 0vh;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  width: 70%;
}

.nav {
  z-index: 999;
  display: flex;
  justify-content: center;
}

.navbar-option {
  font-size: 1vw;
  font-family: 'Poppins';
  font-weight: 400;
  opacity: 0;
  width: 100%;
  margin: 0 1.5rem;
}

.nav-left {
  text-align: left;
}

.nav-center {
  opacity: 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
  border-radius: 30px;
  padding: 15px;
  filter: drop-shadow(0px 2px 15px rgba(0, 0, 0, 0.6));
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background: rgba(42, 69, 75, 0.85);
  z-index: 9;
  /* height: max-content; */
}

.nav-right {
  text-align: right;
}

.name {
  margin-top: 25vh;
  font-size: 8.4vw;
  margin-bottom: 1vh;
}

.demo-button {
  opacity: 0;
  margin: 12vh 0vh 40vh;
  font-family: 'Poppins';
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 40px;
  filter: drop-shadow(0px 2px 15px rgba(0, 0, 0, 0.1));
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background: rgba(42, 69, 75, 1);
  outline: none;
  border: 0;
}

.features-container h2,
.features-container li {
  opacity: 0;
}

/* Dashborad Styles */

  /* Input side */

.page-dashboard{
  width: 63%;
  display: flex;
  flex-direction: column;
}

.dashbar {
  vertical-align: middle;
  font-weight: bold;
  width: 99%;
  justify-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-self: center;
  background-color: #00000000; /* Set your desired background color */
  padding: 2vh 4vh 4vh 1vh;
  border-radius: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  opacity: 1;
}

.logo {
  width: 5vw;
  height: 5vw;
  background-image: url('./assets/ResonexLogo.png');
  background-size: cover; 
  background-position: center; 
}

.title, .back {
  padding-top: 3vh;
}

.title {
  padding-right: 0.5vw;
}

.dashboard {
  width: 100%;
  justify-content: space-between;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  align-self: center;
  background-color: #00000000; /* Set your desired background color */
  border-radius: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  height: 80vh;
  opacity: 1;
}

.input,
.output {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 46%;
  background-color: #00000075; /* Set your desired background color */

  border-radius: 10px;
  border: 2px solid #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 1;
}

.inbox {
  border: 2px solid #ffffff;  
  height: 60%;
  width: 100%;
  background-color: #000000; /* Set your desired background color */
  padding: 0vw 0vw 0vw;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.prompt {
  border: 2px solid #ffffff;  
}

.buttons {
  border: 2px solid #ffffff;  
  padding: 1vw 0vw 1vw;
  display: flex;
  flex-direction: row;
  height: 10%;
  width: 100%;
  background-color: #000000; /* Set your desired background color */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button {
  width: 40%;
}

/* Output side */
  

.graphs {
  display: flex;
  flex-direction: row;
  background-color:#000000;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 45%;
  border: 2px solid #ffffff;  
}

.probs {
  display: flex;
  flex-direction: row;
  background-color:#0e424483;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 25%;
  height: 100%;
  border: 2px solid #ffffff;  
}

.maingraph {
  display: flex;
  flex-direction: row;
  background-color:#00000083;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 75%;
  height: 100%;
  border: 2px solid #ffffff;  
}


.gptoutput {
  background-color:#000000;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 45%;
  border: 2px solid #ffffff;  
}
